{% extends 'base.html' %}

{% block title %}
    |Change Password
{% endblock title %}

{% block content %}
<div class='text-center'>
    <form method='POST'>
        {{change_password.hidden_tag()}}

        <div class="mb-3">

            {{change_password.old_password.label()}}
            {{change_password.old_password(class='form-control',placeholder='Current Password')}}

            {{change_password.new_password.label()}}
            {{change_password.new_password(class='form-control',placeholder='Password')}}
        </div>
        <br>
            {{change_password.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock content %}