{% extends 'base.html' %}

{% block title %}
    |Reset Password
{% endblock title %}

{% block content %}
<div class='text-center'>
    <form method='POST'>
        {{reset.hidden_tag()}}

        <div class="mb-3">
            {{reset.password1.label()}}
            {{reset.password1(class='form-control',placeholder='New Password')}}
        </div>
        <div class="mb-3">
            {{reset.password2.label()}}
            {{reset.password2(class='form-control',placeholder='Confirm Password')}}
        </div>
        <br>
            {{reset_form.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock content %}