{% extends 'base.html' %}

{% block title %}
   |Edit Profile
{% endblock title %}

{% block content %}
    <div class="page-header">
        <h1>Edit your Profile</h1>
    </div>
    <div class='text-center'>
        <form method="POST">
          {{edit_form.hidden_tag()}}
      
          <div class="mb-3">
            {{edit_form.name.label()}}
            {{edit_form.name(class='form-control',placeholder='Real name')}}
      
            {{form.location.label()}}
            {{form.location(class='form-control',placeholder='Location')}}
      
      
            {{edit_form.about_me.label()}}
            {{edit_form.about_me(class='form-control',placeholder='About Me')}}
          </div>
          
          
          <br>
          {{edit_form.submit(class="btn btn-primary")}}
        </form>
      </div>
{% endblock content %}