{% extends "base.html" %}

{% block title %}
    |Landing Page
{% endblock title %}

{% block content %}
    <div>
        <img src="https://scontent.fnbo8-1.fna.fbcdn.net/v/t39.30808-6/276163620_5218863281471438_425620178439806099_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ZkFpN0YcIdYAX8KHTfP&_nc_ht=scontent.fnbo8-1.fna&oh=00_AT9t9dXIAYawnEYJ12YLEao4GX2XGwV-8TVDWCLxy5pThg&oe=62A6B971" alt="blogvolution logo">
        <h1>Your email has been confirmed successfully</h1>
    </div>
{% endblock content %}